.before-after {
    max-width: 500px;
    position: relative;
}

.before-after::before {
    content: "Подстказка";
    color: white;
    background-color: blueviolet;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    opacity: 0;
}

.before-after:hover::before {
    opacity: 1;
}

ol {
    list-style: none;
    counter-reset: numbers; /*Nunber - обозначает переменную и устанавливает счётчик */
    font-size: 18px;
}


li::before {
    counter-increment: numbers;
    content: "0" counter(numbers); /* выводим счётчик с помощью content в котором записываем первый символ*/
    font-size: 30px;
    color: blue;
}

